.button {

    &__login {
        padding: 7px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        transition: .4s;
    }
    &__signup {
        padding: 7px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: -webkit-linear-gradient(45deg, #6cf 0%, #6ff 100%);
        background-image: linear-gradient(45deg, #6cf 0%, #6ff 100%);
        transition: .4s;
    }
}
