
.Form {
    &__label {
        text-align: left;
        display: inline-block;
        width: 10em;
    }
    &__input {
        background: #fff;
        color: #aaa;
        border: 1px solid #888;
        padding: 3px;
    }
    &__email {
        margin: 30px auto;
    }
    &__password {
        margin: 30px auto;
    }
    &__button {
        margin: 50px auto 25px;;
        padding: 7px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        transition: .4s;
        &__button:hover {
            background-image: -webkit-linear-gradient(bottom left, #FFC107 0%, #f76a35 100%);
            background-image: -o-linear-gradient(bottom left, #FFC107 0%, #f76a35 100%);
            background-image: linear-gradient(to top right, #FFC107 0%, #f76a35 100%);
            }
    }

}
