.Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    flex-direction: row;
    background: #fff;
    &__logo {
    background-image: url("../images/wakuru_width.png");
    background-size: contain;
    width: 250px;
    height: 90px;
    margin-top: 15px;
    margin-left: 15px;
    @include mq-sp {
        display: inline-block;
        text-align: center;
        };
    }
    &__body{
        flex: 3 1 auto;
        font-size: 16px;
    }
}
