//fonts


//media query
@mixin mq-sp($max: $sp-max-width) {
    @media only screen and (max-width: #{$max}) {
        @content;
    }
}

@mixin mq-pc($min: $pc-min-width) {
    @media only screen and (max-width: #{$min}) {
        @content;
    }
}
