@import "./lib/sanitize";

:root, html, body {
    // background-color: ;
    // color: ;
    width: 100%;
}
* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

// a {
//     color: ;
// }
// a:hover {
//     text-decoration: none;
//     color: ;
// }
