//colors

$color-black: #252525;
$color-white: #fff;

//sizes
$base-content-width: 1180px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;

//paths


//fonts


//break points
$sp-max-width: 640px;
$pc-min-width: 641px;
