@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

body {
    background: url(https://static.pexels.com/photos/60783/pexels-photo-60783.jpeg) no-repeat, center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
}

.Login {
    margin: 10vh auto;;
    &__wrapper {
        height: 50vh;
        max-height: 768px;
        width: 50vw;
        max-width: 768px;
        margin: auto;
        color: #fff;
        background-color: #333;
        opacity: 0.7;
        text-align: center;
        // margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8%;
    }
    &__heading {
        color: #eee;
        font-size: 32px;
        margin: auto;
        padding-top: 32px;
        font-family: cursive;
    }

}
